.create-form-container {
  backdrop-filter: blur(2px);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
}
.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-field {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
label {
  margin: 10px 0;
}
input {
  font-size: 20px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid rgb(141, 141, 141);
}
input:focus {
  outline: none;
}
.login-button {
  color: white;
  height: 45px;
  margin: 20px 0;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}
.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.form {
  background-color: white;
  max-height: 90%;
  width: max-content;
  border: 1px solid rgb(34, 34, 34);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 1px 2px 5px 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.create-user-button,
.cancel-button {
  color: white;
  min-height: 45px;
  height: 45px;
  margin: 20px 0;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}
select {
  font-size: 20px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid rgb(141, 141, 141);
  cursor: pointer;
}
select:focus {
  outline: none;
}
